.container {
  margin: 50px auto;
}

.grid-row {
  display: flex;
  justify-content: center;
}

.square {
  display: inline-block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
}

.neighbors {
  font-weight: bold;
}
