:root {
  /* SIZES */
  --size-xs: 4px;
  --size-s: 8px;
  --size-m: 16px;
  --size-l: 32px;
  --size-xl: 64px;

  /* NEIGHBORS */
  --color-one: blue;
  --color-two: green;
  --color-three: red;
  --color-four: purple;

  /* SQUARE STATE */
  --square-open: #ccc;
  --square-shut: #eee;

  /* MISC. */
  --danger: crimson;
}

/* HELPERS */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.fluid {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1,
.font-xl {
  font-size: var(--size-xl);
}

h2,
.font-l {
  font-size: var(--size-l);
}

h3,
.font-m {
  font-size: var(--size-m);
}

h4,
.font-m {
  font-size: var(--size-s);
}

.center {
  text-align: center;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.mono {
  font-family: monospace;
}

.margin-right-xs {
  margin-right: var(--size-xs);
}

.margin-bottom-m {
  margin-bottom: var(--size-m);
}

.margin-bottom-l {
  margin-bottom: var(--size-l);
}

.inline {
  display: inline-block;
}

code {
  font-weight: bold;
  color: #aaa;
}

ul {
  margin: 0;
}

.danger {
  color: var(--danger);
}

/* COMPONENT-SPECIFIC */
table {
  width: 100%;
}

th {
  text-align: left;
  padding: 0 var(--size-xs) var(--size-s);
}

td {
  padding: var(--size-s) var(--size-xs);
}

.row-level:hover {
  background: #eee;
  cursor: pointer;
}

.row-level.selected {
  background: #ddd;
}

.text-btn {
  opacity: 0.6;
}

.text-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.column {
  margin: 0 var(--size-m);
}

.column-sm {
  width: 275px;
  max-width: 275px;
}

.side-heading {
  color: #aaa;
}

.grid {
  border: 1px solid #ddd;
}

.counter-label {
  text-transform: uppercase;
  font-weight: bold;
}

.smiley {
  color: gold;
  background: black;
  border-radius: 50%;
  -webkit-text-stroke: 2px black;
}

.smiley:hover {
  cursor: pointer;
  animation: bounce 0.6s ease alternate infinite;
}

@keyframes bounce {
  0% {
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.7);
    transform: translateY(0px);
  }
  100% {
    text-shadow: 0 20px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
  }
}

.square {
  width: var(--size-l);
  height: var(--size-l);
  box-sizing: border-box;
  border: 1px solid #ddd;
}

.shut {
  background: var(--square-shut);
}

.shut:hover {
  cursor: pointer;
  border-color: #bbb;
  outline: 1px solid #bbb;
  z-index: 10;
}

.open {
  background: var(--square-open);
}

.neighbors {
  font-weight: bold;
}

.exploded {
  background: var(--danger);
}

.one-neighbors {
  color: var(--color-one);
}

.two-neighbors {
  color: var(--color-two);
}

.three-neighbors {
  color: var(--color-three);
}

.four-neighbors {
  color: var(--color-four);
}
