:root {
  /* SIZES */
  --size-xs: 4px;
  --size-s: 8px;
  --size-m: 16px;
  --size-l: 32px;
  --size-xl: 64px;

  /* NEIGHBORS */
  --color-one: blue;
  --color-two: green;
  --color-three: red;
  --color-four: purple;

  /* SQUARE STATE */
  --square-exploded: crimson;
  --square-open: #ccc;
  --square-shut: #eee;
}

/* HELPERS */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.mono {
  font-family: monospace;
}

.font-l {
  font-size: var(--size-l);
}

.font-xl {
  font-size: var(--size-xl);
}

/* COMPONENT-SPECIFIC */
.header {
  text-align: center;
  margin-bottom: 30px;
}

.grid {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0 auto;
}

.toolbar {
  width: 300px;
  margin: 0 auto 20px;
}

.counter-label {
  text-transform: uppercase;
  font-weight: bold;
}

.smiley {
  color: goldenrod;
}

.smiley:hover {
  opacity: 0.6;
  cursor: pointer;
}

.square {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #ddd;
}

.shut {
  background: var(--square-shut);
}

.shut:hover {
  cursor: pointer;
  border-color: #bbb;
  outline: 1px solid #bbb;
  z-index: 10;
}

.open {
  background: var(--square-open);
}

.neighbors {
  font-weight: bold;
}

.exploded {
  background: var(--square-exploded);
}

.one-neighbors {
  color: var(--color-one);
}

.two-neighbors {
  color: var(--color-two);
}

.three-neighbors {
  color: var(--color-three);
}

.four-neighbors {
  color: var(--color-four);
}
